.checkout {
  display: flex;
  float: left;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  max-width: 1000px;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
